$shadow: 0px 8px 21px -6px rgba(0, 0, 0, 0.25);

// COLORS
$primary: #F3DB74FF;
$secondary: #101820ff;
$third: #4255fe;
$background: #f1f3f5;
$white: #fafafa;

$mainFontColor: #101820ff;
$subFontColor: #434b4d;
$lightFontColor: #bfbfbf;